
Assigment 2/radwa_lghbiah/main.c
Assigment 2/radwa_lghbiah/radwa_lghbiah.pro
Assigment 2/radwa_lghbiah/radwa_lghbiah.pro.user
Assigment 2/build-radwa_lghbiah-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
Assigment 2/build-radwa_lghbiah-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/vadefs.h.E17611E6E1F4B81C.idx
Assigment 2/build-radwa_lghbiah-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/vadefs.h.BC3DB58635BF3847.idx
Assigment 2/build-radwa_lghbiah-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/swprintf.inl.D493C3ABDB30B1E8.idx
Assigment 2/build-radwa_lghbiah-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/stdio_s.h.31C02C30C73A0787.idx
Assigment 2/build-radwa_lghbiah-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/main.c.893D3C16886703A9.idx
Assigment 2/build-radwa_lghbiah-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/stdio.h.0D7039D0FB6390A4.idx
